@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    background-color: #5DA1D7;
}
h1, h3, .list {
    font-family: Roboto;
}
h1, h3, blockquote{
    color: white;
}
.top-quote {
    color: white;
    width: 30%;
    margin: auto;
}
h1:hover {
    color: black;
}
h1, h4, h3, main p, blockquote, footer {
    text-align: center;
}
.list {
    width: 30%;
    margin: auto;
    padding: 10px;
}
img {
    width: 20%;
    display: block;
    margin: 0 auto;
}
blockquote {
    margin-left: 35%;
    margin-right: 35%;
    font-size: 3em
}