body {
    background-color: black;
}
#headerimage {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card {
    width: 250px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    overflow: scroll;
}
.title {
    text-align: center;
}
h4 {
    color: #3F5B8B;
}
.awesomearticle {
    padding: 10%;
    text-align: center;
    color: #8B808C;
}
footer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #3F5B8B;
}
.grid-item {
    color: white;
    text-align: center;
}
.number {
    font-size: 2em;
}
.text {
    font-size: .75em;
}